html
{
	line-height: 1.15;
	webkit-text-size-adjust: 100%;
}
body
{
	margin: 0;
}
main
{
	display: block;
}
h1
{
	font-size: 2em;
	margin: .67em 0;
}
hr
{
	box-sizing: content-box;
	height: 0;
	overflow: visible;
	webkit-box-sizing: content-box;
}
pre
{
	font-family: monospace,monospace;
	font-size: 1em;
}
a
{
	background-color: transparent;
}
abbr[title]
{
	border-bottom: none;
	text-decoration: underline dotted;
	text-decoration: underline;
	webkit-text-decoration: underline dotted;
}
b,strong
{
	font-weight: bolder;
}
code,kbd,samp
{
	font-family: monospace,monospace;
	font-size: 1em;
}
small
{
	font-size: 80%;
}
sub,sup
{
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sub
{
	bottom: -.25em;
}
sup
{
	top: -.5em;
}
img
{
	border-style: none;
}
button,input,optgroup,select,textarea
{
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}
button,input
{
	overflow: visible;
}
button,select
{
	text-transform: none;
}
[type=button],[type=reset],[type=submit],button
{
	webkit-appearance: button;
}
[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner
{
	border-style: none;
	padding: 0;
}
[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring
{
	outline: 1px dotted ButtonText;
}
fieldset
{
	padding: .35em .75em .625em;
}
legend
{
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	webkit-box-sizing: border-box;
	white-space: normal;
}
progress
{
	vertical-align: baseline;
}
textarea
{
	overflow: auto;
}
[type=checkbox],[type=radio]
{
	box-sizing: border-box;
	padding: 0;
	webkit-box-sizing: border-box;
}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button
{
	height: auto;
}
[type=search]
{
	outline-offset: -2px;
	webkit-appearance: textfield;
}
[type=search]::-webkit-search-decoration
{
	webkit-appearance: none;
}
::-webkit-file-upload-button
{
	font: inherit;
	webkit-appearance: button;
}
details
{
	display: block;
}
summary
{
	display: list-item;
}
template
{
	display: none;
}
[hidden]
{
	display: none;
}
@font-face
{
	font-display: block;
	font-family: icomoon;
	font-style: normal;
	font-weight: 400;
	src: url(fonts/icons/calendar.eot?wot3rx#iefix) format("embedded-opentype"),url(fonts/icons/calendar.ttf?wot3rx) format("truetype"),url(fonts/icons/calendar.woff?wot3rx) format("woff"),url(fonts/icons/calendar.svg?wot3rx#calendar) format("svg");
	src: url(fonts/icons/calendar.eot?wot3rx);
}
[class*=" icon-"],[class^=icon-]
{
	font-family: icomoon!important;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 1;
	moz-osx-font-smoothing: grayscale;
	text-transform: none;
	webkit-font-smoothing: antialiased;
}
.icon-calendar:before
{
	content: "\e900";
}
.page-wrapper
{
	/* align-items: center; */
	background-color: #dee0e4;
	/* display: flex; */
	/* display: -ms-flexbox; */
	height: 100vh;
	/* justify-content: center;
	ms-flex-align: center;
	ms-flex-pack: center;
	webkit-box-align: center;
	webkit-box-pack: center; */
}
.task
{
	border-radius: 30px;
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	height: 100px;
	overflow: hidden;
	position: relative;
	transition: .5s;
	webkit-transition: .5s;
	width: 1045px;
	margin: 0 auto;
	transform: translateY(400px);
}
.task-active
{
	background-color: #fff;
}
.task-notActive
{
	background-color: #ced2da;
}
.task__rhombus
{
	position: absolute;
	top: -210px;
	left: -180px;
	width: 0;
    height: 0;
    border-top: 260px solid transparent;
    border-left: 140px solid #dee0e4;
    border-bottom: 260px solid transparent
}
.task__rhombus-active
{
	animation: rhombus 1s ease-out;
	webkit-animation: rhombus 1s ease-out;
}
@-webkit-keyframes rhombus
{
	from
	{
		left: -188px;
	}
	50% {
		left: -115px;
	}
	to
	{
		left: -140px;
	}
}
@keyframes rhombus
{
	from
	{
		left: -188px;
	}
	50% {
		left: -115px;
	}
	to
	{
		left: -140px;
	}
}
.task__square
{
	background-color: #e9e9e9;
	border-radius: 10px;
	height: 40px;
	position: absolute;
	top: 30px;
	width: 40px;
}
.task__square-notActive
{
	left: -40px;
	transition: .5s;
	webkit-transition: .5s;
}
.task__square-active
{
	left: 40px;
	transition: .5s;
	webkit-transition: .5s;
}
.task__textarea-wrapper {
	height: 70%;
	min-width: 60%;
	max-width: 60%;
	margin-top: 25px;
	margin-left: 50px;
	outline: none;
}
.task__textarea
{
	/* display: inline;
	padding: 0;
	margin: 0;
	border: none;
	height: 70%;
	margin-top: 25px;
	outline: 0;
	padding-left: 30px;
	resize: none;
	width: 60%;
	overflow: hidden; */
	/* position: relative; */
	display: inline;
	outline: none;
	/* height: 70%;
	min-width: 60%;
	max-width: 60%;
	margin-top: 25px;
	margin-left: 50px;
	outline: none; */
}
.task__texarea2 {
	position: absolute;
	top: 0;
	left: 0;
	height: 70%;
	min-width: 1px;
	max-width: 60%;
}
/* .task__textarea::-webkit-scrollbar {
	width: 0;
} */
.task__textarea-active
{
	background-color: #fff;
	margin-left: 100px;
	transition: .5s;
	webkit-transition: .5s;
}
.task__textarea-notActive
{
	background-color: #ced2da;
	transition: .5s;
	webkit-transition: .5s;
}
.task__calendar-and-select-wrapper
{
	/* align-items: center; */
	display: flex;
	display: -ms-flexbox;
	margin-left: auto;
	ms-flex-align: center;
	webkit-box-align: center;
	margin-top: 20px;
}
.task__calendar-and-select-wrapper select
{
	background-color: #e9e9e9;
	border: none;
	border-radius: 15px;
	display: block;
	height: 60px;
	margin-right: 20px;
	outline: 0;
	padding: 0 40px 0 40px;
	width: 215px;
}
.task__calendar
{
	background-color: #e9e9e9;
	border-radius: 15px;
	height: 60px;
	margin-right: 20px;
	width: 60px;
}
.task__calendar p
{
	margin: 0;
	padding: 10px;
	text-align: center;
}
.displayNone
{
	display: none;
}
*
{
	font-size: 35px;
}